.chart {
    height: 12rem;
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #444;
    border-radius: 10px;
}